<p>
  This is the maintainability score from <a href="https://codeclimate.com" target="_blank">code climate</a>.
</p>
<p>
  To improve this score, you go to code climate to find more about the your code issues.
</p>
