<strong>What's this?</strong>
<p>This metric shows the proportion of stories with point estimation.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>
<strong>What should I expect?</strong>
<p>All stories should have a estimated point.</p>