<strong>What's this?</strong>
<p>This metric shows how many story points each student has finished.</p>
<p>A storied is finished by a student if the student is the owner of that story.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>

<strong>What should I expect? </strong>
<p>All your team members should appear in this graph. You should expect a evenly distributed graph.</p>