<strong>What's this?</strong>
<p>This metric shows whether pull requests are commented and the number of pull requests.</p>
<p>Commented pull requests are pull requests with at least one comment.</p>
<p>Data is collected from <a href="https://developer.github.com/v3/pulls/#list-pull-requests" target="_blank">GitHub API</a>.</p>

<strong>What should I expect?</strong>
<p>
  Each feature should be developed on its own branch, and merged back to main branch via pull requests.
  So you should expect some number of pull requests displayed in this graph.
</p>
<p>
  Pull requests should be reviewed before being merged. Pull request review can increase the stability of
  the system. It also help sharing knowledge about the code base.
</p>