<strong>What's this?</strong>
<p>This metric checks whether story <strong>description</strong> follows the prescribed format.</p>
<p>The prescribed format is <code>AS...SO THAT...</code></p>
<p>We believe following this format will help you write stories that are more relevant (as in SMA<strong>R</strong>T).</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>

<strong>What should I expect?</strong>
<p>You should expect 100% score.</p>
