<strong>What's this?</strong>
<p>This metric shows the number of stories in each stage.</p>
<p>Data is collected from <a href="https://www.pivotaltracker.com/help/api/rest/v5#Story" target="_blank">Pivotal Tracker API</a>.</p>

<strong>What should I expect?</strong>
<p>Usually, you should not work on many stories in parallel. So the number of stories in <code>started</code> stage should not be high.</p>