<strong>What's this?</strong>
<p>This metric shows state of the latest build (encoded by the rightmost square), and ratio of success builds (encoded by the leftmost bar).</p>
<p>Only builds from the main branch (specified in config) are considered.</p>
<p>Data is collected from <a href="https://docs.travis-ci.com/api/" target="_blank">Travis CI API</a>.</p>

<strong>What should I expect?</strong>
<p>You should always keep builds on main branch passing.</p>