<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard">
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/iterations">
          Iteration Generating
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aggregate_tasks_graph">
          Current Iteration Progress
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Metrics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Create New Task Type
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Customer Information
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Performance</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Overall Team Performance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Member Performance Breakdown
        </a>
      </li>
    </ul>
  </div>
</nav>
