<%- task = Task.find(node) %>
<td>
  <div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card-body <%="task-#{task.task_status}"%>" >
      <h5><%= task.title%></h5>
      <p class="card-text"><%= task.description %></p>
      <a href="#" class="card-link"> Delete </a>
      <a href="#" class="card-link"> Update </a>
    </div>
  </div>
</td>
