<!doctype html>
<html lang="en">

<body>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'dashboard_sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="text-success">Current Iteration Progress</h1>
      </div>
      <h2 class="text-secondary">Projects</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Project</th>
            <th>Progress</th>
            <th>Current Task</th>
            <th>Last Updated</th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, iteration_path(id: Iteration.where(project_id: project.id)[0])%></td>
                <td>
                  <% if @progress[project.id] %>
                      <% (0..@progress[project.id][0]).each do |p|%>
                        <span class="label label-success"> </span>
                      <%end%>
                      <% (0..@progress[project.id][1]).each do |p|%>
                          <span class="label label-danger"> </span>
                      <%end%>
                      <% (0..@progress[project.id][2]).each do |p|%>
                          <span class="label label-primary"> </span>
                      <%end%>
                      <% (0..@progress[project.id][3]).each do |p|%>
                          <span class="label label-info"> </span>
                      <%end%>
                  <% end %>
                </td>
                <td>
                  Scrum meeting
                </td>
                <td>
                  one day ago
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
</body>
</html>
