<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Projects</a></li>
  <li class="active">Iteration 1</li>
</ol>
<div class="page-header">
  <h1> Tasks Center <small>Audience 1st</small></h1>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Tasks Graph</a></li>
  <li role="presentation"><a href="#">Metrics</a></li>
</ul>
<%= render partial: 'tasks_graph' %>