%div.col-md-10
  %h2
    Iteration
  %div.col-md-15
    %div
      %button.btn-primary
        Preliminary Task
    %div.card-columns{style: 'text-align: center'}
      - @preliminaryTasks.each do |task|
        = render partial: 'task', locals: {node: task, iteration: @iteration}
:javascript
  keep_log=false;